<%- include('../partials/sidebar') %>

<body>
    <div class="row">
        <div class="col">
            <div class="form-floating mb-3">
                <input type="number" class="form-control" id="floatingInput" placeholder="name@example.com" value="<%=details.id%>">
                <label for="floatingInput">ID:</label>
              </div>
        </div>
    </div>
</body>