<%- include('../partials/sidebar') %>
<link rel="stylesheet" href="/css/table.css" />
<link rel="stylesheet" href="/css/button8.css" />
<link rel="stylesheet" href="/css/loading.css" />


<div id="loading"></div>
    <div class="row mt-2">
      <div class="col-md-4">
        <h4>Produtos</h4>
      </div>
      <div class="col-lg-4">
      </div>
      <div class="col-md-4">
        <button type="button" class="button-8 mb-2" id="result" style="float: right;" disabled>
          <span class="counter-value"><%=results%></span>
          resultados
        </button>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <div class="form-floating">
          <input type="text" class="form-control" id="procura0"/>
          <label for="procuraBtn0">Código:</label>
        </div>
      </div>
    </div>
    <div class="table-wrapper table-responsive table-striped mb-4">
      <table class="fl-table" id="myTable">
        <thead>
          <tr style="height: 25px">
            <th>Código</th>
            <th>Cliente</th>
            <th>Data Entrega</th>
            <th>Data Emissão</th>
            <th>Usuário</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <%contents.forEach ((content)=>{%>
          <tr>
            <td>
                <p><%=content.CODIGO%></p>
            </td>
            <td>
              <a href="/logistica/korp/produtos/<%=content.CODIGO%>">
                <button type="button" class="button-8">Detalhes</button>
              </a>
            </td>
          </tr>
          <%})%>
        </tbody>
        <tbody></tbody>
      </table>
    </div>


<script>
  const searchParams = new URLSearchParams(window.location.search);

  document.getElementById("procura0").value = searchParams.get('PEDIDO');

  document.getElementById("procura0").addEventListener("keypress", function(event) {
      if (event.key === "Enter") {
          window.location = `/faturamento/korp/pedidos?PEDIDO=${document.getElementById("procura0").value}`
      }
  });
</script>


<script type="text/javascript" src="/js/carregador.js"></script>
<script type="text/javascript" src="/js/confirmation.js"></script>
<script type="text/javascript" src="/js/procura.js"></script>