<%- include('../partials/sidebar') %>

<head>
    <link rel="stylesheet" href="/css/table.css" />
</head>

<%if(ver_pedido == 1){%>
<body>
    <div class="row mt-2">
        <h1 style="color: black;"><%=contents.B1_DESC%></h1>
    </div>
    <div class="row mt-2">
      <%contents.forEach((content)=>{%>
      <div class="col-md-3 mb-2">
          <div class="form-floating">
            <input type="text" class="form-control" id="cliente" value="" readonly>
            <label for="cliente"></label>
          </div>
      </div>
      <%})%>
    </div>
</body>
<%}else{%>
    <h2 style="text-align: center; margin-top: 10%;">Sem permissão para ver os pedidos.</h2>
<%}%>