<%- include('../partials/sidebar') %>

<style>
    img{
        width: 35%;
    }

    .row{
        margin-top: 4%;
    }
</style>

<div class="row">
    <div class="col d-flex justify-content-evenly">
        <img src="https://www.fibracem.com/wp-content/uploads/2020/11/LOGO-FIBRACEM-5.png" alt="">
        <img src="https://logodownload.org/wp-content/uploads/2019/12/totvs-logo.png" alt="">
    </div>
</div>
<div class="row">
    <div class="col">
        <h1 style="text-align: center; font-size: 40px;">Bem-vindo ao integrador do TOTVS aos sistemas da Fibracem.</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <h3>
            Um sistema desenvolvido pela T.I para facilitar o acesso das informações do TOTVS.
            Estamos em fase experimental, logo algumas funcionalidades podem não funcionar de forma correta.
            Se caso você encontrar algum erro favor abrir chamado para T.I.
        </h3>
    </div>
</div>