<%- include('../partials/sidebar') %>

<style>
    .card {
        background-color: white;
        border: none;
    }

    a{
        color: inherit;
    }
</style>

<html>
    <body>
            <h2 class="mb-5 mt-4" style="text-align: center;">
                Comercial
            </h2>
            <div class="row">
                <div class="col d-flex justify-content-around">
                    <a href="/comercial/grupos-de-venda" style="margin-left: 0;">
                        <div class="card" style="width: 12rem;">
                            <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/5407/5407460.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title" style="text-align: center;">
                                    Grupos de Venda
                                </h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
    </body>
</html>